/* .log-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #007bff; 
    border-radius: 5px;
  }
  
  .log-form p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff; 
  }
  
  .log-form .log-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
    color: #007bff; 
  }
  
  .log-inputField input,
  .log-inputField select {
    width: calc(100% - 10px); 
    padding: 10px;
    border: 1px solid #007bff; 
    border-radius: 5px;
  }
  
  .log-checkboxContent label .log-text {
    font-size: 14px;
    color: #007bff; 
  }
  .log-checkbox-text{
    display: flex;
    justify-content: space-between;
  }
  .log-forgot-password a{
    color: red;
  }
  
  .log-input-field input[type="button"]{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .log-input-field input[type="button"] {
    background-color: #0056b3;
  }
   */

   .log-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .log-title {
    display: block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .log-input-field {
    margin-bottom: 20px;
  }
  
  .log-input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .log-checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .log-checkbox-content {
    display: flex;
    align-items: center;
  }
  
  .log-checkbox-content input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .log-forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .log-forgot-password a:hover {
    text-decoration: underline;
  }
  
  .log-input-field.button {
    text-align: center;
  }
  
  .log-input-field.button input[type="button"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .log-input-field.button input[type="button"]:hover {
    background-color: #45a049;
  }
  
  .log-login-signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .log-login-signup .log-signup-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .log-login-signup .log-signup-link:hover {
    text-decoration: underline;
  }
